#include "resource.h"
#include <windows.h>

IDI_MYICON ICON "icon2.ico"  

IDD_DIALOG DIALOG DISCARDABLE  0, 0, 302, 173
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Modifica giocatore"
FONT 10, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,126,140,50,14
    EDITTEXT        IDC_EDIT1,44,34,76,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT2,67,59,15,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT3,221,59,15,14,ES_AUTOHSCROLL
    COMBOBOX        IDC_COMBO1,194,34,75,70,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Inserisci",IDC_BUTTON1,53,93,40,17
    PUSHBUTTON      "Modifica",IDC_BUTTON2,207,92,40,17
    GROUPBOX        "Inserisci giocatore",IDC_STATIC,7,7,138,122,BS_CENTER
    GROUPBOX        "Modifica giocatore",IDC_STATIC,157,7,138,122,BS_CENTER
END
