#include "resource.h"
#include <windows.h>

IDI_MYICON ICON "WinTDPalio.ico"  
INTROBMP BITMAP DISCARDABLE "Intro.bmp"
WINTERBMP BITMAP DISCARDABLE "Inverno.bmp"

IDR_MYMENU MENU
{
    POPUP "&File"
    {
        MENUITEM "&Nuovo gioco\t", ID_NEW_GAME
        MENUITEM "&Carica gioco", ID_LOAD_GAME
        MENUITEM "&Salva gioco", ID_SAVE_GAME
        MENUITEM SEPARATOR
        MENUITEM "&Avvia Palio", ID_START_GAME
        MENUITEM SEPARATOR
        MENUITEM "S&tampa...", ID_PRINT_GAME, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Esci", ID_FILE_EXIT
    }    
    POPUP "&Visualizza"
    {
        MENUITEM "S&ituazione Contrade", ID_VIEW_CONTRADE
        MENUITEM "&Vittorie", ID_VIEW_VITTORIE
        MENUITEM "&Cuffia", ID_VIEW_CUFFIA
        MENUITEM "&Fantini", ID_VIEW_FANTINI
    }
    POPUP "&Help"
    {
        MENUITEM "&Informazioni su WinTDPalio...", ID_ABOUT_DIALOG
    }    
}  

IDD_ABOUT DIALOG DISCARDABLE 60, 50, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU 
CAPTION "Informazioni su WinTDPalio"
FONT 8, "MS Sans Serif"
{
    ICON            IDI_MYICON,IDC_STATIC,11,17,20,20
    DEFPUSHBUTTON "&OK",IDOK,174,18,50,14
    LTEXT "TDPalio Versione 1.0",IDC_STATIC,50,17,119,8,SS_NOPREFIX
    LTEXT "Copyright MatteoSoftware (C) 2004",IDC_STATIC,50,34,119,8
}

IDD_TOOLBAR DIALOGEX 60, 50, 98, 52
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "My Dialog Toolbar"
FONT 8, "MS Sans Serif"
{
    PUSHBUTTON "&Press This Button",IDC_PRESS,7,7,84,14
    PUSHBUTTON "&Or This One",IDC_OTHER,7,31,84,14
}

IDD_GAME DIALOG DISCARDABLE 60, 50, 258, 101
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Nuovo gioco"
FONT 8, "MS Sans Serif"
{
    EDITTEXT        IDC_GAME_NAME,82,17,83,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_GAME_PLAYER,82,37,20,14,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_GAME_YEAR,82,59,22,14,ES_AUTOHSCROLL
    //CONTROL         "Spin1",IDC_GAME_SPIN,"msctls_updown32",UDS_SETBUDDYINT | 
    //                UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,110,36,11,14
    DEFPUSHBUTTON   "OK",IDOK,201,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,201,24,50,14
    LTEXT           "NOME:",IDC_STATIC,19,17,56,14
    LTEXT           "GIOCATORI:",IDC_STATIC,19,39,56,14
    LTEXT           "ANNO:",IDC_STATIC,19,60,56,14
}

IDD_PLAYER DIALOG DISCARDABLE 60, 50, 186, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Nuovo giocatore"
FONT 8, "MS Sans Serif"
{
    EDITTEXT        IDC_PLAYER_NAME,79,31,82,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,67,62,50,14
    CTEXT           "Giocatore #",IDC_STATIC,73,13,38,8
    LTEXT           "Nome giocatore:",IDC_STATIC,23,32,53,8
}

IDD_LISTA DIALOG DISCARDABLE 60, 50, 180, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Lista Contrade"
FONT 10, "MS Sans Serif"
{
    LTEXT           "Static",IDC_NOME,32,17,113,139
    DEFPUSHBUTTON   "OK",IDOK,65,166,50,14
}

