IDD_SEARCH_ORDER DIALOG DISCARDABLE  50, 50, 254, 87
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Search order"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_SEARCH_CLIENT,54,22,88,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_SEARCH_DATE,54,49,88,15,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Search",IDOK,182,22,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,182,49,50,14
    LTEXT           "Client:",IDC_STATIC,18,22,20,8
    LTEXT           "Date:",IDC_STATIC,18,49,18,8
END

IDD_INVENTORY DIALOG DISCARDABLE  0, 0, 180, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Inventory"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,65,60,50,14
    LTEXT           "Stock on ",IDC_DATE,30,24,143,12
END

IDD_SUMMARY DIALOG DISCARDABLE  0, 0, 420, 213
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Monthly summary"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,185,182,50,14
    COMBOBOX        IDC_MESI,129,28,80,52,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_ANNO,244,28,38,12,ES_AUTOHSCROLL|ES_NUMBER
    CONTROL         "Spin1",IDC_SPIN1,"msctls_updown32",UDS_SETBUDDYINT| UDS_ARROWKEYS| UDS_AUTOBUDDY|UDS_NOTHOUSANDS,285,28,12,12
    LTEXT           "Month",IDC_STATIC,129,14,21,8
    LTEXT           "Year",IDC_STATIC,244,14,16,8
    CONTROL         "",IDC_VENDITE,"SysListView32",LVS_REPORT|WS_BORDER,10,61,400,111
END
