#include <windows.h>
#include "resource.h"

IDI_MYICON ICON "m.ico"  
IDI_ICON1 ICON "vuoto.ico"  
IDI_ICON2 ICON "euro.ico"  
IDI_ICON3 ICON "semaforo.ico"  

IDD_ABOUT DIALOG DISCARDABLE 200, 200, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About MiDa"
FONT 8, "MS Sans Serif"
BEGIN
DEFPUSHBUTTON "&OK",IDOK,174,18,50,14
PUSHBUTTON "&Cancel",IDCANCEL,174,35,50,14
CTEXT "Microsuoni DataBase Manager ver. 2.1.0\r\n\r\nby MatteoSoftware (C)1988", IDC_STATIC,16,18,144,33
END

IDR_MENU MENU PRELOAD DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Print\tCtrl+P",              ID_FILE_PRINT
        MENUITEM SEPARATOR
        MENUITEM "&Control Panel",              ID_CONTROL_PANEL
        MENUITEM SEPARATOR
        MENUITEM "About",                       ID_APP_ABOUT
        MENUITEM "&Exit",                       ID_APP_EXIT
    END
    POPUP "&Insert"
    BEGIN
        MENUITEM "Insert CD",                   ID_INSERT_CD
        MENUITEM "Insert Client",               ID_INSERT_CLIENT
        MENUITEM "Insert Order",                ID_INSERT_ORDER
    END
    POPUP "&Search"
    BEGIN
        MENUITEM "Search C&D",                  ID_SEARCH_CD
        MENUITEM "Search C&lient",              ID_SEARCH_CLIENT
        MENUITEM "Search &Single Order",        ID_SEARCH_ORDER
        POPUP "Search Orders"
        BEGIN
            MENUITEM "Not sent",                ID_SEARCH_SENT
            MENUITEM "Not paid",                ID_SEARCH_PAID
        END
    END
    POPUP "&Inventory"
    BEGIN
        MENUITEM "Inventory",                   ID_INVENTARY
        MENUITEM "Monthly summary",             ID_MONTHLY_SELL
    END
END

IDD_PASSWD DIALOG DISCARDABLE  50, 50, 218, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Connection to MiDa"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_PASSWORD,81,26,100,14,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Connect",IDOK,45,64,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,121,64,50,14
    CTEXT           "Password:",IDC_STATIC,35,30,46,17
END

IDD_INSERT_CD DIALOG DISCARDABLE  50, 50, 352, 325
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Insert/Update CD"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,25,291,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,273,293,50,14
    PUSHBUTTON      "Apply changes",ID_APPLY,146,292,56,15,WS_DISABLED
    EDITTEXT        IDC_CD_ARTIST,45,14,170,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_CD_TITLE,45,40,271,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_CD_COMPANY,64,70,133,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_CD_SUPPLIER,64,104,133,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_CD_FORMAT,251,70,76,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_CD_CODE,251,104,75,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_CD_RETAIL,71,146,35,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_CD_SELLING,71,167,35,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_CD_SPECIAL,71,189,35,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_CD_STOCK,191,146,34,15,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_CD_ORDER,191,167,34,15,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_CD_SOLD,191,189,34,15,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Normal",IDC_RADIO1,"Button",BS_AUTORADIOBUTTON,263,145,38,10
    CONTROL         "New",IDC_RADIO2,"Button",BS_AUTORADIOBUTTON,263,161,50,10
    CONTROL         "Offert",IDC_RADIO3,"Button",BS_AUTORADIOBUTTON,263,177,33,10
    CONTROL         "Delated",IDC_RADIO4,"Button",BS_AUTORADIOBUTTON,263,193,33,10
    LTEXT           "Artist",IDC_STATIC,17,17,16,8
    LTEXT           "Title",IDC_STATIC,17,40,14,8
    LTEXT           "Label",IDC_STATIC,17,70,30,8
    LTEXT           "Format",IDC_STATIC,17,104,26,8
    LTEXT           "Supplier",IDC_STATIC,213,70,30,8
    LTEXT           "Code",IDC_STATIC,213,104,18,8
    LTEXT           "Retail",IDC_STATIC,31,146,19,8
    LTEXT           "Selling",IDC_STATIC,31,167,22,8
    LTEXT           "Special",IDC_STATIC,31,189,24,8
    LTEXT           "Stock",IDC_STATIC,150,146,20,8
    LTEXT           "Ordered",IDC_STATIC,150,167,26,8
    LTEXT           "Sold",IDC_STATIC,150,189,20,8
    GROUPBOX        "Price",IDC_STATIC,19,130,106,81
    GROUPBOX        "Quantities",IDC_STATIC,141,130,97,81
    GROUPBOX        "Status",IDC_STATIC,254,130,67,81
    EDITTEXT        IDC_CD_NOTES,95,224,174,53,ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | ES_WANTRETURN 
    LTEXT           "Notes",IDC_STATIC,53,226,25,19
END

IDD_SEARCH_CD DIALOG DISCARDABLE  50, 50, 340, 146
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Search for..."
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_SEARCH_ARTIST,58,24,88,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_SEARCH_COMPANY,58,51,88,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_SEARCH_CODE,58,78,88,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_SEARCH_SUPPLIER,219,24,88,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_SEARCH_QUANTITY,218,51,88,15,ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   "Search",IDOK,102,116,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,186,116,50,14
    LTEXT           "Artist:",IDC_STATIC,22,24,18,8
    LTEXT           "Label:",IDC_STATIC,22,51,32,8
    LTEXT           "Code:",IDC_STATIC,22,78,32,8
    LTEXT           "Supplier:",IDC_STATIC,184,24,28,8
    LTEXT           "Quantity:",IDC_STATIC,184,51,29,8
END

IDD_SEARCH_CLIENT DIALOG DISCARDABLE  50, 50, 249, 103
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Search for..."
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_SEARCH_SURNAME,58,20,88,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_SEARCH_CITY,58,43,88,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_SEARCH_COUNTRY,58,66,88,15,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Search",IDOK,181,22,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,181,48,50,14
    LTEXT           "Surname:",IDC_STATIC,22,21,31,8
    LTEXT           "City:",IDC_STATIC,22,44,14,8
    LTEXT           "Country:",IDC_STATIC,22,67,27,8
END

IDD_INSERT_CLIENT DIALOG DISCARDABLE  50, 50, 452, 308
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Insert/Update client"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_CLIENT_NAME,88,20,99,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_SURNAME,291,20,99,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_ADD1,56,68,137,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_CITY1,42,89,67,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_STATE1,42,110,67,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_ZIP1,152,89,44,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_COUNTRY1,151,110,59,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_ADD2,272,68,137,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_CITY2,258,89,67,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_STATE2,258,110,67,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_ZIP2,368,89,44,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_COUNTRY2,368,110,59,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_PHONE,112,146,94,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_MOBILE,112,166,93,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_EMAIL,112,187,94,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_CC,267,153,99,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_CLIENT_PIVA,267,176,99,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_NOTES,115,217,233,50,ES_AUTOVSCROLL | ES_WANTRETURN | ES_MULTILINE | WS_VSCROLL		 
    DEFPUSHBUTTON   "OK",IDOK,50,278,50,14
    PUSHBUTTON      "Apply changes",ID_APPLY,200,278,50,14,WS_DISABLED
    PUSHBUTTON      "Cancel",IDCANCEL,350,278,50,14
    LTEXT           "Name",IDC_STATIC,61,20,20,8
    LTEXT           "Surname",IDC_STATIC,253,20,29,8
    LTEXT           "Address",IDC_STATIC,19,68,26,8
    LTEXT           "City",IDC_STATIC,19,89,12,8
    LTEXT           "State",IDC_STATIC,19,110,18,8
    LTEXT           "ZIP code",IDC_STATIC,119,89,30,8
    LTEXT           "Country",IDC_STATIC,119,110,25,8
    LTEXT           "Phone",IDC_STATIC,84,146,22,8
    LTEXT           "Mobile",IDC_STATIC,84,166,22,8
    LTEXT           "Email",IDC_STATIC,84,187,18,8
    LTEXT           "Credit card",IDC_STATIC,220,153,35,8
    LTEXT           "VAT id",IDC_STATIC,220,176,35,8
    LTEXT           "Notes",IDC_STATIC,93,220,20,8
    GROUPBOX        "Primary address",IDC_STATIC,13,52,209,83
    LTEXT           "Address",IDC_STATIC,236,68,26,8
    LTEXT           "City",IDC_STATIC,236,89,12,8
    LTEXT           "State",IDC_STATIC,236,110,18,8
    LTEXT           "ZIP code",IDC_STATIC,336,89,30,8
    LTEXT           "Country",IDC_STATIC,336,110,25,8
    GROUPBOX        "Alternate address",IDC_STATIC,230,52,209,83
END

IDD_SEARCH_ORDER DIALOG DISCARDABLE  50, 50, 254, 87
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Search order"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_SEARCH_CLIENT,54,22,88,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_SEARCH_DATE,54,49,88,15,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Search",IDOK,182,22,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,182,49,50,14
    LTEXT           "Client:",IDC_STATIC,18,22,20,8
    LTEXT           "Date:",IDC_STATIC,18,49,18,8
END

IDD_MAKE_HTML DIALOG DISCARDABLE  0, 0, 216, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Saving HTML files..."
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,83,62,50,14, WS_DISABLED
    CONTROL         "Progress1",IDC_PROGRESS,"msctls_progress32",WS_BORDER,28,25,160,12
    LTEXT           "0%",IDC_STATIC,19,42,10,8
    LTEXT           "50%",IDC_STATIC,98,43,14,8
    LTEXT           "100%",IDC_STATIC,177,43,18,8
END

IDD_INSERT_ORDER DIALOG DISCARDABLE  0, 0, 320, 280
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK | DS_CENTER
CAPTION "Order"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_COMBO_CLIENT,56,10,129,64,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_DATA,56,30,70,64,CBS_DROPDOWN | CBS_SORT | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Client Info",ID_INFO,220,10,50,14,WS_DISABLED
    CONTROL         "Primary",IDC_RADIO_ADR1,"Button",BS_AUTORADIOBUTTON,232,48,39,10
    CONTROL         "Alternate",IDC_RADIO_ADR2,"Button",BS_AUTORADIOBUTTON,232,65,44,10
    LISTBOX         IDC_LIST,27,69,149,131,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_QUANTITY,239,93,59,15,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_SHIPPMENT,239,117,59,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_SHIPPMENT2,239,141,59,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_REDUCTION,239,165,59,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_IVA,239,189,59,15,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_PRICE,239,213,59,15,ES_AUTOHSCROLL | ES_READONLY
    GROUPBOX        "Order",IDC_STATIC,16,54,173,159
    LTEXT           "Qty.:",IDC_STATIC,200,93,28,9
    LTEXT           "True shipp.:",IDC_STATIC,200,141,38,9
    LTEXT           "Client",IDC_STATIC,23,10,28,9
    LTEXT           "Date",IDC_STATIC,23,30,28,9
    LTEXT           "Tot. Price:",IDC_STATIC,200,213,38,9
    LTEXT           "Vat:",IDC_STATIC,200,189,28,9
    LTEXT           "Reduction:",IDC_STATIC,200,165,38,9
    GROUPBOX        "Address",IDC_STATIC,224,35,57,45
    LTEXT           "Shipp.:",IDC_STATIC,200,117,28,9
    CONTROL         "Sent",IDC_CHECK_SENT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,75,255,30,10
    CONTROL         "Paid",IDC_CHECK_PAID,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,255,30,10
    EDITTEXT        IDC_NOTE,60,225,94,14,ES_AUTOHSCROLL
    LTEXT           "Note",IDC_STATIC,32,225,23,13
END

IDD_INVENTORY DIALOG DISCARDABLE  0, 0, 180, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Inventory"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,65,60,50,14
    LTEXT           "Stock on ",IDC_DATE,30,24,143,12
END

IDD_SUMMARY DIALOG DISCARDABLE  0, 0, 420, 213
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Monthly summary"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,185,182,50,14
    COMBOBOX        IDC_MESI,129,28,80,52,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_ANNO,244,28,38,12,ES_AUTOHSCROLL|ES_NUMBER
    CONTROL         "Spin1",IDC_SPIN1,"msctls_updown32",UDS_SETBUDDYINT| UDS_ARROWKEYS| UDS_AUTOBUDDY|UDS_NOTHOUSANDS,285,28,12,12
    LTEXT           "Month",IDC_STATIC,129,14,21,8
    LTEXT           "Year",IDC_STATIC,244,14,16,8
    CONTROL         "",IDC_VENDITE,"SysListView32",LVS_REPORT|WS_BORDER,10,61,400,111
END

IDD_DELIVERY DIALOG DISCARDABLE  0, 0, 290, 201
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK | DS_CENTER
CAPTION "Delivery details"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_COMBO_METHOD,88,15,95,60,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_PORTO,88,53,95,60,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_SHAPE,88,34,95,60,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Euro VAT",IDC_EURO_VAT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,215,34,47,10
    EDITTEXT        IDC_NUMBER,71,89,30,14,ES_AUTOHSCROLL|ES_NUMBER
    CONTROL         "Spin1",IDC_SPIN_NUMBER,"msctls_updown32",UDS_SETBUDDYINT| UDS_ARROWKEYS| UDS_AUTOBUDDY|UDS_NOTHOUSANDS,99,89,11,14
    EDITTEXT        IDC_WEIGHT,71,113,40,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_CARRIER,190,89,80,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_DELIVERY_DATE,190,113,80,14,ES_AUTOHSCROLL
    LTEXT           "Payment method",IDC_STATIC,28,15,54,8, SS_RIGHT
    LTEXT           "Carriage",IDC_STATIC,28,53,54,8, SS_RIGHT
    LTEXT           "Appearance",IDC_STATIC,28,34,54,8, SS_RIGHT
    LTEXT           "Number",IDC_STATIC,38,89,26,8
    LTEXT           "Weight (Kg)",IDC_STATIC,38,113,24,8
    LTEXT           "Carrier",IDC_STATIC,165,89,21,8
    LTEXT           "Date",IDC_STATIC,165,113,16,8
    CONTROL         "Invoice",IDC_CHECK_FATTURA,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,190,180,47,10
    CONTROL         "Simple invoice",IDC_CHECK_FATTURA_SEMPLICE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,190,194,57,10
    CONTROL         "Label",IDC_CHECK_LABEL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,190,208,47,10
    PUSHBUTTON      "Print",ID_PRINT,65,187,50,14
    GROUPBOX        "Printing panel",IDC_STATIC,50,160,210,68
END

IDD_CONTROL_PANEL DIALOG DISCARDABLE  0, 0, 326, 190
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Control Panel"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,85,153,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,190,153,50,14
    EDITTEXT        IDC_EDIT_METHOD,17,23,78,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_PORTO,120,23,78,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_SHAPE,223,23,78,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Insert",ID_BUTTON_METHOD,45,40,22,10
    PUSHBUTTON      "Insert",ID_BUTTON_PORTO,148,40,22,10
    PUSHBUTTON      "Insert",ID_BUTTON_SHAPE,251,40,22,10    
    LISTBOX         IDC_LIST_METHOD,17,56,81,82,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP | LBS_NOSEL
    LISTBOX         IDC_LIST_PORTO,120,56,81,82,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP | LBS_NOSEL
    LISTBOX         IDC_LIST_SHAPE,223,56,81,82,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP | LBS_NOSEL
    LTEXT           "Payment method",IDC_STATIC,17,10,66,13,SS_CENTERIMAGE
    LTEXT           "Carriage",IDC_STATIC,120,10,66,13,SS_CENTERIMAGE
    LTEXT           "Appearance",IDC_STATIC,223,10,66,13,SS_CENTERIMAGE
END
