
IDD_STRATEGIA_PROVE DIALOG DISCARDABLE  0, 0, 312, 240
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Strategia per le prove"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,40,208,50,14
    DEFPUSHBUTTON   "Cancella",IDCANCEL,220,208,50,14

    LTEXT           "Ostacola...",IDC_STATIC,100,20,35,8
    LTEXT           "Mossa",IDC_STATIC,165,20,27,8
    LTEXT           "Spunto",IDC_STATIC,205,20,27,8
    LTEXT           "Curve",IDC_STATIC,245,20,27,8

    LTEXT           "Prima prova",IDC_STATIC,20,60,50,8
    LTEXT           "Seconda prova",IDC_STATIC,20,80,50,8
    LTEXT           "Terza prova",IDC_STATIC,20,100,50,8
    LTEXT           "Quarta prova",IDC_STATIC,20,120,50,8
    LTEXT           "Prova Generale",IDC_STATIC,20,140,50,8
    LTEXT           "Provaccia",IDC_STATIC,20,160,50,8
    CONTROL         "",IDC_CHECK_1A,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,60,10,10
    CONTROL         "",IDC_CHECK_1B,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,210,60,10,10
    CONTROL         "",IDC_CHECK_1C,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,250,60,10,10
    CONTROL         "",IDC_CHECK_2A,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,80,10,10
    CONTROL         "",IDC_CHECK_2B,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,210,80,10,10
    CONTROL         "",IDC_CHECK_2C,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,250,80,10,10
    CONTROL         "",IDC_CHECK_3A,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,100,10,10
    CONTROL         "",IDC_CHECK_3B,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,210,100,10,10
    CONTROL         "",IDC_CHECK_3C,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,250,100,10,10
    CONTROL         "",IDC_CHECK_4A,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,120,10,10
    CONTROL         "",IDC_CHECK_4B,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,210,120,10,10
    CONTROL         "",IDC_CHECK_4C,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,250,120,10,10
    CONTROL         "",IDC_CHECK_5A,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,140,10,10
    CONTROL         "",IDC_CHECK_5B,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,210,140,10,10
    CONTROL         "",IDC_CHECK_5C,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,250,140,10,10
    CONTROL         "",IDC_CHECK_6A,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,160,10,10
    CONTROL         "",IDC_CHECK_6B,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,210,160,10,10
    CONTROL         "",IDC_CHECK_6C,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,250,160,10,10

    COMBOBOX        IDC_COMBO_1,90,60,64,90,CBS_DROPDOWN |
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_2,90,80,64,90,CBS_DROPDOWN |
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_3,90,100,64,90,CBS_DROPDOWN |
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_4,90,120,64,90,CBS_DROPDOWN |
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_5,90,140,64,90,CBS_DROPDOWN |
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_6,90,160,64,90,CBS_DROPDOWN |
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
END

IDD_PARTITI DIALOG DISCARDABLE  0, 0, 420, 213
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Partiti"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_TIPO,90,160,64,90,CBS_DROPDOWN |
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_CONTRADA_1,90,160,64,90,CBS_DROPDOWN |
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_CONTRADA_2,90,160,64,90,CBS_DROPDOWN |
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Compenso (x1000 €)",IDC_STATIC,130,52,70,11
    EDITTEXT        IDC_SOLDI,200,47,30,15,ES_AUTOHSCROLL
    CONTROL         "Spin1",IDC_SPIN_SOLDI,"msctls_updown32",UDS_SETBUDDYINT |
                    UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,223,48,16,13

    DEFPUSHBUTTON   "CANCELLA",IDCANCEL,185,182,50,14
    DEFPUSHBUTTON   "OK",IDOK,185,182,50,14
    CONTROL         "",IDC_LISTA_PARTITI,"SysListView32",LVS_REPORT|WS_BORDER,10,61,400,111
END

IDD_SEGNATURA DIALOG DISCARDABLE  0, 0, 420, 213
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Segnatura"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "",IDC_STATIC1,130,52,70,11
    EDITTEXT        IDC_SOPRANNOME,200,47,30,15,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,185,182,50,14
END

